<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Hello, World!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-5">
            <a href="{{ path('task_index') }}" class="navbar-brand mb-0 h1">Taskr</a>
        </nav>
        <div class="container">
            <div class="row">
                <div class="offset-1 col-10 center-block">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>

        <script src="{{ asset('build/app.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
